---
const { inner_components } = Astro.props;
const components = import.meta.glob("./**/*.astro", {
  eager: true,
});
---
<section>
  {inner_components.map((block) => {
    const name = `components/${block._bookshop_name}.astro`;
    const Component = components[name].default;
    return <Component {...block} />;
  })}
</section>