---
import Layout from "./Layout.astro";
import Page from '../shared/astro/page.astro';

const { frontmatter } = Astro.props;
---

<Layout>
  <Page bookshop:live contentBlocks={frontmatter.content_blocks} />
</Layout>

<p>Test 2</p>