---
import Layout from "./Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import Page from '../shared/astro/page.astro';

const { title, description, heroComponent, frontmatter } = Astro.props;
---

<Layout title={title} description={description}>
  <Hero bookshop:live {...heroComponent}/>
</Layout>

<p>Test</p>

<Page bookshop:live contentBlocks={frontmatter.content_blocks} />

<p>Test 3</p>